#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define LAY1 1
#define LAY2 2
#define LAY3 3

/ {
    combos {
        compatible = "zmk,combos";
        combo_ESC {
            timeout-ms = <50>;
            key-positions = <0 1 13>;
            bindings = <&kp ESC>;
	};
    	combo_TAB {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp TAB>;
        };
    };
};

/ {

        behaviors {        
                ly: layers {
                        compatible = "zmk,behavior-hold-tap";
                        label = "LAYERS TAP HOLD";
                        #binding-cells = <2>;
                        tapping-term-ms = <150>;
                        quick-tap-ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&mo>, <&to>;
                };

                sl: behavior_sticky_layer {
			compatible = "zmk,behavior-sticky-key";
			label = "STICKY_LAYER";
			#binding-cells = <1>;
			release-after-ms = <1000>;
			bindings = <&mo>;
			ignore-modifiers;
		};
	};
};

/ {

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                &kp Q               &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSPC
                &hm LEFT_CONTROL A   &kp S      &kp D       &kp F      &kp G       &kp H     &kp J      &kp K       &kp L        &kp ENTER
                &mt LSHIFT Z           &kp X     &kp C       &kp V      &kp B        &kp N     &kp M      &kp COMMA     &kp PERIOD     &mt RSHIFT SLASH
                &none       &kp LGUI       &kp LALT         &lt LAY1 SPACE        &kp SPACE        &sl LAY2         &sl LAY3          &none
            >;
        };


        layer_1 {
            bindings = <
                &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7    &kp N8    &kp N9     &kp N0     &kp DEL
                &kp CAPS   C_VOL_UP  &kp SEMI  &kp APOS  &kp NUBS  &none  &none    &kp MINUS   &kp EQUAL  &trans
                &trans     C_VOL_DN  &none     &none     &none     &none  C_MUTE   &kp LBKT    &kp RBKT   &trans
                &none      &trans    &trans    &trans    &trans    &trans          &trans      &none
            >;
        };



        layer_2 {
            bindings = <
                &kp GRAVE  &kp F1  &kp F2  &kp F3  &kp F4  &none  &none  &none  &kp UP  &none  &none
                &none      &kp F5  &kp F6  &kp F7  &kp F8  &none  &kp PSCRN   &kp LEFT  &kp RIGHT   &trans        
                &trans     &kp F9  &kp F10  &kp F11  &kp F12  &none    &none   &kp DOWN  &none  &trans
                &none      &trans    &trans    &trans    &trans    &trans          &trans      &none
            >;

        layer_3 {
            bindings = <
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none &none &none &kp PG_UP &none &none
                &bt BT_CLR    &out OUT_BLE  &out OUT_USB  &out OUT_TOG  &none         &none &none   &kp HOME  &kp END   &trans        
                &bootloader   &none         &none         &none         &none         &none &none   &kp PG_DN &none &trans
                &none      &trans    &trans    &trans    &trans    &trans          &trans      &none
            >;

        };
    };
};
